In [1]:
#Importing relevant packages
import numpy as np
import pandas as pd
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout
from sklearn.preprocessing import StandardScaler

In [2]:
#Importing the dataset
data= pd.read_csv("E:\\ANISH\\DATA_SCIENCE\\Files\\Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,32,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
#Extracting relevant features from the data for machine learning
X= data.iloc[:,3:13]
Y= data.iloc[:,13]

In [4]:
#Creating dummy variables
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

#Concatenate the dummy variables to the original dataset
X= pd.concat([X,geography, gender], axis=1)

In [5]:
#Dropping the irrelevant feature
X=X.drop(["Geography","Gender"], axis=1)

In [6]:
#Splitting the above dataset for train test
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split(X,Y, test_size= 0.2, random_state= 0)

In [7]:
#Scaling the features of the train and test datasets
sc= StandardScaler()
X_train= sc.fit_transform(X_train)
X_test= sc.transform(X_test)

# Building the ANN

In [8]:
#Intitialising the ANN 
classifier= Sequential()

In [16]:
#Building the input and hidden layers
classifier.add(Dense(units= 6, kernel_initializer="he_uniform", activation='relu', input_dim=11,))
classifier.add(Dense(units= 6, kernel_initializer="he_uniform", activation='relu'))
classifier.add(Dense(units= 1, kernel_initializer="glorot_uniform", activation='sigmoid'))

In [17]:
#Compiling
#Since the output is binary(0 and 1), we use the loss function binary cross entropy
classifier.compile(optimizer="Adam", loss="binary_crossentropy", metrics=["accuracy"])

In [19]:
#Fitting the ANN
model= classifier.fit(X_train, Y_train, validation_split=0.33, batch_size=10, epochs=20)

Epoch 1/20
536/536 [==============================] - 5s 4ms/step - loss: 0.6349 - accuracy: 0.6447 - val_loss: 0.4968 - val_accuracy: 0.7955
Epoch 2/20
536/536 [==============================] - 2s 4ms/step - loss: 0.4846 - accuracy: 0.7956 - val_loss: 0.4523 - val_accuracy: 0.7955
Epoch 3/20
536/536 [==============================] - 2s 3ms/step - loss: 0.4516 - accuracy: 0.7841 - val_loss: 0.4166 - val_accuracy: 0.7955
Epoch 4/20
536/536 [==============================] - 2s 3ms/step - loss: 0.3851 - accuracy: 0.8050 - val_loss: 0.3945 - val_accuracy: 0.8266
Epoch 5/20
536/536 [==============================] - 2s 3ms/step - loss: 0.3802 - accuracy: 0.8324 - val_loss: 0.3894 - val_accuracy: 0.8285
Epoch 6/20
536/536 [==============================] - 2s 3ms/step - loss: 0.3711 - accuracy: 0.8478 - val_loss: 0.3851 - val_accuracy: 0.8379
Epoch 7/20
536/536 [==============================] - 1s 3ms/step - loss: 0.3846 - accuracy: 0.8392 - val_loss: 0.3859 - val_accuracy: 0.8421
Epoch 8/20
536/536 [==============================] - 2s 3ms/step - loss: 0.3883 - accuracy: 0.8377 - val_loss: 0.3826 - val_accuracy: 0.8448
Epoch 9/20
536/536 [==============================] - 2s 3ms/step - loss: 0.3566 - accuracy: 0.8541 - val_loss: 0.3818 - val_accuracy: 0.8470
Epoch 10/20
536/536 [==============================] - 2s 3ms/step - loss: 0.3708 - accuracy: 0.8421 - val_loss: 0.3805 - val_accuracy: 0.8451
Epoch 11/20
536/536 [==============================] - 2s 3ms/step - loss: 0.3441 - accuracy: 0.8549 - val_loss: 0.3780 - val_accuracy: 0.8463
Epoch 12/20
536/536 [==============================] - 2s 3ms/step - loss: 0.3610 - accuracy: 0.8525 - val_loss: 0.3767 - val_accuracy: 0.8440
Epoch 13/20
536/536 [==============================] - 2s 3ms/step - loss: 0.3439 - accuracy: 0.8549 - val_loss: 0.3754 - val_accuracy: 0.8478
Epoch 14/20
536/536 [==============================] - 2s 3ms/step - loss: 0.3577 - accuracy: 0.8553 - val_loss: 0.3747 - val_accuracy: 0.8482
Epoch 15/20
536/536 [==============================] - 2s 3ms/step - loss: 0.3529 - accuracy: 0.8504 - val_loss: 0.3728 - val_accuracy: 0.8497
Epoch 16/20
536/536 [==============================] - 2s 3ms/step - loss: 0.3584 - accuracy: 0.8511 - val_loss: 0.3713 - val_accuracy: 0.8497
Epoch 17/20
536/536 [==============================] - 2s 3ms/step - loss: 0.3325 - accuracy: 0.8614 - val_loss: 0.3706 - val_accuracy: 0.8489
Epoch 18/20
536/536 [==============================] - 2s 3ms/step - loss: 0.3472 - accuracy: 0.8559 - val_loss: 0.3701 - val_accuracy: 0.8508
Epoch 19/20
536/536 [==============================] - 2s 3ms/step - loss: 0.3514 - accuracy: 0.8537 - val_loss: 0.3668 - val_accuracy: 0.8531
Epoch 20/20
536/536 [==============================] - 2s 3ms/step - loss: 0.3530 - accuracy: 0.8531 - val_loss: 0.3687 - val_accuracy: 0.8516

Seems like the validation loss shows a gradual decrease through out the 20 epochs.
Accuracy is above 85% at the end of the iterations.
Interesting!

In [20]:
#Predicting the Test dataset
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [24]:
#Confusion Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix= confusion_matrix(Y_test, y_pred)
confusion_matrix

array([[1467,  128],
       [ 174,  231]], dtype=int64)

In [26]:
#Accuracy
from sklearn.metrics import accuracy_score
score= accuracy_score(y_pred, Y_test)
print("The accuracy is : {}".format(score))

The accuracy is : 0.849